.main {
  background-color: #fff;
  padding: 50px 0 80px 0;
}

.flex {
  display: flex;
  margin: 0 30px 0 0;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.description__options {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 100%;
  max-width: 270px;
  margin-right: 30px;

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }

  h1 {
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__selectors {
    margin-bottom: 50px;
  }

  &__categories {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  &__range {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;


    input {
      width: 100%;
      margin-bottom: 25px;
    }
  }
}

.list {
  display: flex;
  flex-flow: row wrap;
}

.item {
  width: 250px;
  height: 320px;
  margin: 0 30px 30px 0;
  border: solid 1px #ccc;
  cursor: pointer;
  transition: box-shadow .2s ease-in;

  @media (max-width: 768px) {
   width: 223px;
   height: auto;
   margin-right: 15px;
  }

  &:hover {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);

    .img {

      img {
        transform: scale(1.1);
      }

      &:before {
        opacity: 1;
      }
    }
  }
}

.description {
  width: 100%;
  padding: 20px;

  h2 {
    width: 90%;
    font-size: 16px;
    padding-bottom: 30px;
    color: #33363e;
  }
}

.img {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 180px;
    background-color: rgba(28, 183, 255, .7);
    z-index: 1000;
    opacity: 0;
    transition: opacity .2s ease-in;
  }

  img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    transition: transform .2s linear;
  }

  p {
    position: absolute;
    left: 23px;
    bottom: 17px;
    color: #fff;
  }
}

.select {
  width: 239px;
  height: 42px;
  background: transparent;
  border: solid 1px #ccc;
}

.filters__categories {
  label {
    position: relative;
    padding-left: 24px;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0px;
      width: 14px;
      height: 14px;
      border: solid 1px #ccc;
      transform: translateY(-50%);
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 4px;
      width: 6px;
      height: 6px;
      transform: translateY(-50%)
    }
  }

  input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  input[type="checkbox"]:checked+label {
    &:before {
      border-color: #1cb8ff;
    }

    &:after {
      background: #1cb8ff;

    }
  }
}


.filterBtn {
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  background-color: rgb(28, 184, 255);
  border: 0;
  padding: 12px 29px;
  cursor: pointer;
}
