@font-face {
  font-family: 'Montserrat';
  src: url('#{$fontsPath}/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
  url('#{$fontsPath}/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
